.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 996px) {
    width: 350px;
  }
  background-color: #d6d6d6;
}

.star-color:hover {
  color: rgb(219, 199, 17);
}

.pokeball-color:hover {
  color: red;
}

img {
  width: 50%;
}

.name-color {
  color: #3F51B5;
}
