.basic-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img-size {
  width: 90%;
}

.moves-info {
  @media only screen and (max-width: 996px) {
    columns: 2;
  }
  columns: 3;
  background-color: rgb(226, 226, 226);
}

.item {
  padding: 5px;
  font-size: 15px;
}
