<mat-dialog-content class="mat-typography">
  <div class="basic-info">
    <div>
      <img
        mat-card-image
        class="img-size"
        [src]="image"
        alt="Photo of pokemon"
      />
    </div>
    <div>
      <h1>Stats</h1>
      <p>
        <span class="mat-body-strong">EXP:</span>
        {{ pokemon.base_experience }}
      </p>
      <p>
        <span class="mat-body-strong">HP:</span>
        {{ pokemon.stats[0].base_stat }}
      </p>
      <p>
        <span class="mat-body-strong">Attack:</span>
        {{ pokemon.stats[1].base_stat }}
      </p>
      <p>
        <span class="mat-body-strong">Defence:</span>
        {{ pokemon.stats[2].base_stat }}
      </p>
      <p>
        <span class="mat-body-strong">Special Attack:</span>
        {{ pokemon.stats[3].base_stat }}
      </p>
      <p>
        <span class="mat-body-strong">Special Defence:</span>
        {{ pokemon.stats[4].base_stat }}
      </p>
      <p>
        <span class="mat-body-strong">Speed:</span>
        {{ pokemon.stats[5].base_stat }}
      </p>
    </div>
  </div>
  <div>
    <h1>Moves</h1>
    <ul class="moves-info">
      <li class="item" *ngFor="let move of pokemon.moves">
        {{ upperCaseMoves(move.move.name) }}
      </li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>
