.basic-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-size {
  width: 90%;
}

.moves-info {
  @media only screen and (max-width: 996px) {
    columns: 2;
  }
  columns: 3;
  background-color: gray;
}

.item {
  margin: 0 10px 10px 0;
  font-size: 15px;
  word-wrap: wrap;
}

.stats-font {
  font-weight: bold;
}

.moves-title {
  align-items: center;
}
