.basic-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-size {
  width: 90%;
}

.moves-info {
  columns: 2;
  @media only screen and (min-width: 996px) {
    columns: 3;
  }
  background-color: rgb(226, 226, 226);
}

.item {
  padding: 5px;
  font-size: 15px;
}
